<ion-view view-title="Court Case follow up">
  <ion-content>
    <ion-list>
      <ion-item   class="item-text-wrap">
        <p>This application is used to view and follow court cases </p>
       
		<p></p>        
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item   class="item-text-wrap">
        <p>Navigate to schedules to check your case</p>
		<p></p>        
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item   class="item-text-wrap">
        
        <p>Navigate to Announcment to view general information</p>
		<p></p>        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>